@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@font-face {
  font-family: "Proxima Nova";
  src: url("../../../assets/font/ProximaNova-Regular.otf");
}

.ant-btn:hover,
.ant-btn:focus {
  color: inherit;
  background-color: #fff;
  border-color: #227f00;
}

html {
  --antd-wave-shadow-color: #227f00;
}

h3 {
  font-family: "Proxima Nova", sans-serif;
  color: #03363c;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0px;
}

h4,
label,
p,
li,
a,
span,
button {
  font-family: "Muli", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
}

.logo {
  height: 70px;
  background: white;
  padding: 24px 0px 13px 47px;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #fbfbfa;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

li.ant-menu-item:hover {
  color: green;
}

span.nav-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #878e85;
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fbfbfa;
  padding-top: 16.37px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #f7f9f7;
  border: 1px solid #f0f8ed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.02);
          box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  width: 165px;
  height: 50px;
  padding: 0 !important;
  margin-left: 30px !important;
  padding-left: 20.05px !important;
  color: #227f00;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected span.nav-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #227f00;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected span.nav-text a {
  color: inherit;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected::-moz-selection {
  color: #227f00;
  background: #f7f9f7;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected::selection {
  color: #227f00;
  background: #f7f9f7;
}

a:hover {
  color: #227f00;
}

.ant-menu-vertical .ant-menu-item:not(:last-child),
.ant-menu-vertical-left .ant-menu-item:not(:last-child),
.ant-menu-vertical-right .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: none !important;
  -webkit-transform: scaleY(0.0001);
  transform: scaleY(0.0001);
  opacity: 0;
  -webkit-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "";
}

li.ant-menu-item {
  padding-left: 47px !important;
}

.user_name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #515151;
  padding-left: 47px;
  margin-top: 32px;
  margin-bottom: 19px;
}

.user_name span {
  font-weight: bold;
  padding-left: 7.62px;
}

main.ant-layout-content {
  background: #ffffff;
  border: 1px solid #dedede;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dash_children {
  margin-top: 152px;
  min-width: 300px;
}

.headersss {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.dealer_header header.ant-layout-header {
  padding: 0px 25px;
}

.dealer_header span.ant-input-affix-wrapper {
  border-bottom: 1px solid #979797;
}

.dealer_header span.ant-input-affix-wrapper input.ant-input {
  border: none;
  width: 100%;
  max-width: 364px;
  margin-left: 10px;
}

.dealer_header span.ant-input-affix-wrapper input.ant-input :focus-visible {
  border: none;
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: transparent !important;
  border-right-width: 1px !important;
}

.dealerDashDate {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000;
}

header.ant-layout-header {
  height: 70px;
  background: #fff;
  border-left: 1px solid #bdbdbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header.ant-layout-header .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.8;
  display: none;
}

header.ant-layout-header .header_left h4 {
  font-size: 22px;
  line-height: 28px;
  color: #444444;
  mix-blend-mode: normal;
  margin-left: 30px;
  margin-bottom: 0;
}

header.ant-layout-header .dealerHeader h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #444857;
  margin-bottom: 0;
  margin-left: 0px;
}

header.ant-layout-header .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

header.ant-layout-header .header_right h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #4f4f4f;
  margin-right: 21px;
  margin-bottom: 0;
}

header.ant-layout-header .header_right i.anticon.anticon-caret-down {
  width: 10px;
  margin-left: 16px;
}

header.sub_header.ant-layout-header {
  background: #fbfbfa;
  border: 1px solid #dedede;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 83px;
}

header.sub_header.ant-layout-header .sub_header_left {
  display: none;
}

header.sub_header.ant-layout-header .sub_header_left h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #444444;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 0px;
}

header.sub_header.ant-layout-header .sub_header_right button.ant-btn {
  background: #227f00;
  border: 1px solid #d7d7d7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 219px;
  height: 40px;
  color: white;
}

.dealer_title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  border: 1px solid #f5f5f5;
  background-color: #f3f3f1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 18px;
  font-weight: 500;
}

span.ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-left {
  background: #227f00;
  z-index: 100;
  background: #227f00;
  z-index: 100;
}

.ant-layout-sider-zero-width-trigger {
  position: fixed;
  top: 13px;
  left: 0px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  background: #001529;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.ant-layout-sider-children {
  height: 100vh;
  margin-top: -0.1px;
  padding-top: 0.1px;
  position: fixed;
  width: 200px;
}

.dealer_header header.ant-layout-header {
  padding: 0px 50px;
}

ul.ant-menu.ant-menu-light.ant-menu-inline-collapsed.ant-menu-root.ant-menu-vertical {
  display: none;
}

ul.ant-menu.ant-menu-light.ant-menu-inline-collapsed.ant-menu-root.ant-menu-inline {
  display: none;
}

ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
  height: 100vh;
}

.ant-dropdown-link.ant-dropdown-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 500px) {
  .header_left,
  .sub_header_left {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  header.ant-layout-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  aside.ant-layout-sider.ant-layout-sider-dark {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 240px !important;
            flex: 0 0 240px !important;
    max-width: 240px !important;
    min-width: 200px;
    width: 240px !important;
    position: fixed;
    height: 100vh;
    z-index: 1;
  }
  aside.dealer_layout_side.ant-layout-sider.ant-layout-sider-dark {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 219px !important;
            flex: 0 0 219px !important;
    max-width: 219px !important;
    min-width: 219px;
    width: 219px !important;
    position: fixed;
    height: 100vh;
    z-index: 1;
  }
  aside.dealer_layout_side.ant-layout-sider.ant-layout-sider-dark .ant-layout-sider-children {
    height: 100vh;
    margin-top: -0.1px;
    padding-top: 0.1px;
    position: fixed;
    width: 219px;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    width: 180px;
  }
  .dash_children {
    margin-left: 240px;
    margin-top: 152px;
  }
  .dealer_children {
    margin-left: 219px;
    margin-top: 152px;
    padding: 30px;
    min-width: 320px;
    background-color: #f7f9f7 !important;
  }
  .headersss {
    position: fixed;
    width: calc(100% - 240px);
    margin-left: 240px;
  }
  .dealer_header {
    position: fixed;
    width: calc(100% - 218px);
    margin-left: 218px;
  }
  .header_right,
  .sub_header_right {
    margin-right: 50px;
  }
  .dealer_header header.ant-layout-header {
    padding: 0px 25px;
  }
  .dealer_header .header_right {
    margin-right: 17px !important;
  }
  .dealer_header .sub_header_right {
    margin-right: 2px;
  }
  .ant-layout-sider-children {
    height: 100vh;
    margin-top: -0.1px;
    padding-top: 0.1px;
    position: fixed;
    width: 241px;
  }
}
/*# sourceMappingURL=DashLayout.css.map */