.creditContainer {
  width: 371px;
  height: 173px;
  background-image: url("../images/card.png");
  background-position: center;
  background-size: contain;
}
.viewCards {
  display: flex;
  align-items: center;
}
