.creditContainer {
  width: 371px;
  background-image: url("../images/card.png");
  background-position: center;
  background-size: contain;
  margin-left: 30px;
  background-repeat: no-repeat;
  .creditGroup {
    padding: 81px 30px 30px 30px;
    h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 26px;
      color: #ffffff;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #ffffff;
    }
  }
}
.cardBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.viewCards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logoImage {
  width: 54px;
  height: 30px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
