.dash_dealer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dealerTopLayer {
  padding-bottom: 0px !important;
}

.ant-select.ant-select-enabled {
  width: 100% !important;
}

span.ant-calendar-picker-input.ant-input {
  padding: -1px 0px;
  height: 50px;
}

.ant-calendar-range-picker-separator {
  display: inline-block;
  min-width: 10px;
  height: 100%;
  color: rgba(0, 0, 0, 0.45);
  white-space: nowrap;
  text-align: center;
  vertical-align: top;
  pointer-events: none;
  line-height: 40px;
}

span.ant-calendar-picker {
  width: 256px;
}

.activity_container {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.100279);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.100279);
  border-radius: 10px;
}

.activity_container .top_activity_container {
  padding: 20px 30px;
  background: #ffffff;
  border-bottom: 1px solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity_container .top_activity_container h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #2f2f2f;
  margin: 0px;
}

.activity_container .top_activity_container button.ant-btn {
  background: #227f00;
  border-radius: 5px;
  color: #ffffff;
  max-width: 154px;
  height: 40px;
  border-color: #227f00;
}

.all_activities_container {
  padding-bottom: 90px;
}

.all_activities_container .allActivityGroup {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topLayer {
  border: 1px solid #00800099;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}

@media (min-width: 791px) {
  .all_activities_container .allActivityGroup {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 896px) {
  .dash_dealer_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1371px) {
  .dash_dealer_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=Dealer_home.css.map */