.HowTo_sect_top {
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #03363c;
    max-width: 549px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #1c484e;
    max-width: 648px;
    padding-top: 23px;
    padding-bottom: 71px;
  }
}

.how_to_position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .HowTo_sect_left {
    width: 100%;
    margin: auto;
  }
  .HowTo_sect_right {
    .steps_title {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      color: #03363c;
      max-width: 362px;
      padding-bottom: 50px;
    }
    .steps_title_nfc {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      color: #03363c;
      max-width: 470px;
      padding-bottom: 50px;
    }
    .steps {
      .step {
        display: flex;
        flex-direction: row;
        align-items: center;
        .number {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
        }
        .title {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: #03363c;
          margin-left: 14%;
        }
      }
    }
    button.ant-btn {
      background: #227f00;
      box-shadow: 0px 4px 10px rgba(34, 127, 0, 0.1);
      border-radius: 7px;
      border-color: #227f00;
      color: white;
      width: 226px;
      height: 53px;
      margin-top: 46px;
    }
  }
}
.step2 {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
  margin-bottom: 14px;
}
.divider {
  border-right: 1px solid #1c484e;
  height: 100px;
  padding-left: 2.6%;
}
.step_text {
  margin-left: 16%;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #1c484e;
  max-width: 400px !important;
}
.step_text.third {
  margin-left: 20%;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #1c484e;
  max-width: 400px !important;
}
.nfc_store {
  display: flex;
  flex-direction: row;
  margin-top: 63px;
  flex-flow: wrap;
}

@media (min-width: 768px) {
  .how_to_position {
    flex-wrap: nowrap;
  }
  .HowTo_sect_left {
    width: 100%;
    margin: auto;
  }
  .nfc_store {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
  }
}
@media (min-width: 1232px) {
  .step_text.third {
    margin-left: 20%;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #1c484e;
    width: 362px !important;
  }
}
