.businesses_container {
  background: linear-gradient(180deg, #fdfdfd 0%, rgba(245, 249, 247, 0) 100%);
  .business_group {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 35px 0;
  }
}

.business_left,
.business_right {
  margin-top: 20px;
  h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #03363c;
    margin-bottom: 21px;
    text-align: center
  }
  .business_logo {
    width: 100%;
    max-width: 463px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
      margin: 0;
      padding-right: 20px;
      padding-bottom: 20px;
    }
  }
  .CardSection {
    width: 90%;
    margin: auto;
  }
}

.cardSection_container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 00%,
    rgba(195, 211, 189, 0.3) 65%,
    #ffffff 100%
  );
  padding-bottom: 100px;
  .CardSection {
    width: 90%;
    margin: auto;
  }
}

.cardSection_container_two {
  background: #f6fbf8;
  .CardSection {
    padding-bottom: 80px;
    width: 90%;
    margin: auto;
  }
}

.HowTo_container {
  background-color: white;
  .HowtoSection {
    width: 90%;
    margin: auto;
    padding-top: 117px;
  }
}

.CardSection.worksSection {
  .sect_card_container .sect_card_group {
    height: 290px;
    padding: 19px 20px;
  }
}

.indexList {
  background: white;
}
.indexList_group {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 78px;

  h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #455153;
    width: 97px;
    margin: auto;
    margin-bottom: 20px;
  }

  .img {
    width: 113px;
    height: 109px;
    background: #fefefe;
    border: 1px solid #0b9d47;
    box-sizing: border-box;
    box-shadow: 0px 6px 12px rgba(34, 127, 0, 0.07);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
}

.index_list_text {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 70px;
  width: 90%;
  margin: auto;
  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 765px;
    margin: 0 auto;
    color: #303b3c;
  }
}

.trusted_container {
  background-color: white;
}
.trusted_group {
  width: 90%;
  margin: auto;
  .trusted_title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    padding-top: 70px;
    color: #03363c;
    margin-bottom: 0;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 526px;
    color: #303b3c;
    margin-top: 20px;
  }
}
.Trusted_cards {
  //   width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 42px;
  padding-bottom: 100px;
  .card_group {
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 100%;
    // max-height: 357px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;

    .card_group_top {
      padding-top: 40px;
      padding-left: 19px;
      padding-right: 19px;
    }
    button.ant-btn {
      background: linear-gradient(
        180deg,
        #ebf7f1 0%,
        rgba(235, 247, 241, 0.44) 100%
      );
      box-shadow: inset 0px 2px 8px #e9f5ee;
      border-radius: 10px;
      width: 100%;
      padding: 5px;
      color: #219653;
      height: 55px;
    }
  }
  .trust_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 28px 0 20px 0;
    color: #353535;
    max-width: 205px;
  }
  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    max-width: 227px;
    color: #1c484e;
    padding-bottom: 49px;
    margin-bottom: 0px;
  }
}

.patners-container {
  background: linear-gradient(180deg, #f6fbf8 0%, rgba(246, 251, 248, 0) 100%);
  .partner_group {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    .partner_title {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #03363c;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      max-width: 557px;
      color: #1c484e;
      margin-top: 20px;
      padding-bottom: 60px;
      margin-bottom: 0px;
    }
    .Patners_logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 42px;
    }
  }
}

.testimony_container {
  background: linear-gradient(
    180deg,
    #f8f9f5 0%,
    rgba(241, 242, 241, 0.0001) 100%
  );
  .testimony_group {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 60px;
    .Testimony_title {
      h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color: #03363c;
        max-width: 574px;
        margin-bottom: 0px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        max-width: 584px;
        color: #1c484e;
        margin-top: 23px;
        margin-bottom: 40px;
      }
    }
    // .IndexCarousel {
    //   text-align: center;
    // }
  }
}
.Privacy_container {
  background: #fbfbfb;
  .privacy_group {
    width: 90%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    .Privacy_text {
      margin-left: 56px;
      .title {
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        color: #03363c;
        margin-bottom: 0;
      }
      .title_text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        max-width: 620px;
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .Trusted_cards {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 42px;
    padding-bottom: 100px;
    .card_group{
      max-width: 30%;
    }
  }
}

@media (min-width: 1024px) {
  .business_group,
  .HowtoSection,
  .CardSection,
  .indexList_group,
  .trusted_group,
  .partner_group,
  .testimony_group,
  .index_list_text,
  .privacy_group {
    // max-width: 76.4%;
    max-width: 66.1%;
    margin: auto;
  }
}
@media (min-width: 1191px) {
 .business_left h4, .business_right h4{
   text-align: left;
 }
 .businesses_container .business_group{
   justify-content: space-between;
 }
 .business_group {
    justify-content:left;
  }
  .business_left .business_logo, .business_right .business_logo {
    width: 100%;
    max-width: 463px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}
}
