.Login_card {
  background: #ffffff;
  border: 1px solid #d7e2e4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
}

.method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.method h4,
.method a {
  border-bottom: 2px solid #d7e2e4;
  padding: 30px 15px;
  width: 100%;
  text-align: center;
  color: #9f9fa1 !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin: 0px;
}

.method2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.method2 h4,
.method2 a {
  border-bottom: 2px solid #d7e2e4;
  padding: 30px 15px;
  width: 100%;
  text-align: center;
  color: #9f9fa1;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin: 0px;
}

.sideded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sideded a {
  display: block;
}

.content {
  padding: 4% 8% 8% 8%;
}

.content form {
  margin: 0px;
}

.content form label {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #03363c;
}

.content form .input {
  padding-bottom: 30px;
}

.content form .input_terms {
  padding-bottom: 20px;
}

.content form .input_reset {
  margin-top: 43px !important;
}

.content form input.ant-input {
  height: 50px;
  -webkit-box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  padding: 16px 6%;
  margin-top: 10px;
}

.content form .ant-input:placeholder-shown {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8d8d8d;
  padding: 16px 6%;
}

.content form input.ant-input:focus {
  outline-color: #227f00;
  border: #227f00;
}

.content form .ant-input-affix-wrapper .ant-input-suffix {
  position: absolute;
  top: 63%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.65);
  line-height: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content form .forgotPassword {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #959d9e;
  margin-top: 26px;
  cursor: pointer;
}

.form_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 34px;
  margin-bottom: 40px;
}

.form_bottom h4 {
  padding-bottom: 10px;
}

.form_bottom button.ant-btn {
  background: #227f00;
  -webkit-box-shadow: 0px 4px 10px rgba(34, 127, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(34, 127, 0, 0.1);
  border-radius: 7px;
  color: #fff;
  width: 150px;
  height: 53px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.form_bottom .ant-btn:hover,
.form_bottom .ant-btn:focus {
  border-color: #227f00;
}

.form_bottom_reset {
  margin-top: 50px !important;
}

.form_bottom_reset button.ant-btn {
  background: #227f00;
  -webkit-box-shadow: 0px 4px 10px rgba(34, 127, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(34, 127, 0, 0.1);
  border-radius: 7px;
  color: #fff;
  width: 250px;
  height: 53px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.form_bottom_terms {
  margin-top: 20px !important;
}

.form_bottom_terms button.ant-btn {
  background: #227f00;
  -webkit-box-shadow: 0px 4px 10px rgba(34, 127, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(34, 127, 0, 0.1);
  border-radius: 7px;
  color: #fff;
  width: 100%;
  height: 53px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.active {
  border-bottom: 4px solid #227f00 !important;
  color: #227f00 !important;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-right: 0.2px solid #00000014;
}

.socials {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #03363c;
}

.social-logo {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 23px;
}

.social-logo div {
  cursor: pointer;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name .input {
  width: 100%;
}

.form_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #5f5f5f;
  padding-bottom: 29px;
}

.Login_card > .method > .active {
  -webkit-animation: fadeIn 600ms ease-in-out alternate both;
          animation: fadeIn 600ms ease-in-out alternate both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .form_bottom h4 {
    padding-bottom: 0px;
  }
  .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .name .input {
    width: 100%;
    max-width: 236px;
  }
}
/*# sourceMappingURL=LoginCard.css.map */